/* Светлая тема "день" */
.page.theme_light {
  /* Цветовые переменные для светлой темы */
  --accent-color: #ff8dcb;
  --bg-color: #fff1f7;
  --subtitle-color: #353430;
  --text-color: #353430;
  --section-title-color: #353430;
  --article-title-color: #353430;
  --border-color: #353430;
  --border-bottom: #353430;
  --heading-text: #ffc2e6;
  --bg-image: url(../images/cover-image-light.png);
  --secondary-color: #35343040;
  
  /* Скрываем декоративный элемент REC в светлой теме */
  .decor {
    display: none;
  }
}